.guidelinesBox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: auto; /* Auto height based on content */
    width: 500px; /* Default width for larger screens */
    color: var(--primary-text-color);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.centerText {
    color: var(--primary-text-color);
    text-align: center;
}

.titleCenterText {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #046B99;
    color: #D0D0D0;
    height: 40px;
}
.guidelineContainer {
    color: var(--primary-text-color);
    height: auto; /* Auto height based on content */
    max-width: 500px; /* Default width for larger screens */
    width: 100%;
    padding: 2px 10px;
    background-color: var(--guideline-background-color);
    border: 1px solid #808080;
    border-radius: 4px;
    border-style:solid;
    overflow-y: hidden;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.guidelineContainer a {
    color: var(--link-color); /* Set the default color for links */
    text-decoration: none; /* Remove underline if desired */
    border: none; /* Ensure no border on links */
    background: transparent; /* Ensure no background on links */
}

.guidelineContainer a:visited {
    color: #9370DB; /* Muted Purple for visited links */
}

.guidelineContainer a:hover {
    color: var(--link-hover-color); /* Set the color for links on hover */
    text-decoration: underline; /* Add underline on hover if desired */
}

.guidelineContainer a:focus {
    outline: none; /* Remove focus outline */
}

.guidelineButtonContainer {
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    color: #D0D0D0;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    width: 180px;
    padding: 10px 12px;
    gap: 4px;
    background: #0066AA; /*#4F52BD;*/
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .guidelinesBox {
        width: 100vw;
        height: auto; /* Adjusts automatically based on content */
        padding: 0px;
    }

    .guidelineContainer {
        width: 100%;
        padding: 10px;
        height: auto;
        overflow-y: auto;
    }

    .guidelineButtonContainer {
        width: calc(100% - 20px);
    }
}