.stopGeneratingContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 4px;
    position: absolute;
    width: 161px;
    height: 32px;
    left: calc(50% - 161px/2 + 25.8px);
    bottom: 116px;
    border: 1px solid #D1D1D1;
    border-radius: 16px;
}

.stopGeneratingIcon {
    width: 14px;
    height: 14px;
    color: #42ddff;
}

.stopGeneratingText {
    width: 103px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}