.clearChatBroom {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 7px;
    top: 13px;
    color: #0078d4;
    background: var(--ask-background-color);
    border-radius: 4px;
    z-index: 1000;
    border: 1px solid #ccc;
    opacity: 1; /* Ensure it's fully visible */
    visibility: visible; /* Make sure it’s visible */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

.clearChatBroom:hover {
    opacity: 0.8; /* Optional hover effect */
}

.clearChatBroomNoCosmos {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 7px;
    top: 13px;
    color: #0078d4;
    outline-color: #0078d4;
    background: var(--ask-background-color);
    border-radius: 4px;
    z-index: 1000;
    border: 1px solid #ccc;
    opacity: 1; /* Ensure it's fully visible */
    visibility: visible; /* Make sure it’s visible */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}