.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color); /* #046B99;*/
    /*
    width: 100%;
    justify-content: center;
    align-items: center;
    
    transition: background-color 0.25s ease-in-out;
    */
}

.header {
    background-color: var(--background-color); /* #046B99;*/
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 30px;
    padding: 5px; /* Optional: Add padding for spacing */
    /*
    background-color: #ff88ff; /* Optional: Background color */
    /*vertical-align: bottom;
    /* Additional styles as needed */
}

.link {
    color: var(---link-color);
    font-weight: bold;
}

.headerContainer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-left: 14px;
    text-decoration: none;
}

.headerTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: var(--primary-text-color);
}

.headerIcon {
    height: 32px;
    width: auto;
    margin-left: 36px;
}

.shareButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
}

.shareButton {
    color: #FFFFFF;
}

.shareButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.urlTextBox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

.copyButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    background: #F0F0F0;
    border: 1px solid #b70606;
    border-radius: 4px;
}

.copyButtonContainer:hover {
    cursor: pointer;
    background: #D1D1D1;
}

.copyButton {
    color: #424242;
}

.copyButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
}

@media (max-width: 480px) {
    .headerTitleContainer {
        margin-left: 4px;
    }

    .headerIcon {
        margin-left: 26px;
    }
}