.toggle-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 2em;
    right: 2em;
    margin-right: 40px;
    margin-bottom: 20px;
}

.toggle {
    visibility: hidden;
}

.toggle + label {
    display: flex;
    /*align-items: right;*/
    justify-content: flex-end; /* Align items to the right */
    font-size: 0.8em;
    cursor: pointer;
    color: var(--primary-text-color);
}

.toggle + label::before {
    content: "";
    height: 1em;
    width: 2.3em;
    border-radius: 1em;
    background-color: var(--toggle-bg);
    margin-top: 0.3em;  /* align the toggle vertical with the label text */
    margin-right: 0.5em; /* add space between the toggle and label */
    transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
    content: "";
    height: 1em;
    width: 1.2em;
    border-radius: 1em;
    background-color: var(--toggle-fg);
    position: absolute;
    margin-top: 0.3em;  /* align the toggle vertical with the label text */
    left: 1.6em;
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
    transform: translateX(100%);
}